<span>static</span>
<input (keyup)="onKey($event)">
<span>dynamic</span>
<input (keyup)="onKeyDynamic($event)">
<span>{{value}}</span>
<br>
<button (click)="playAngularAnimation()">Angular Animation</button>
<button (click)="playAngularAnimationExtra()">Angular Animation x 1000</button>
<button (click)="playGSAPAnimation()">GSAP Animation</button>

<br>
<div class="el"  #divRef >someContent</div>
<div class="el" #divRefTwo id="divRefTwo">someContent</div>

<br>
<button class="delete" (click)="deleteAngularElement()">Delete element bound to Angular animation</button>
